<h1>Genres</h1>

<%= link_to "Create genre", new_genre_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-2">
    <% @genres.each do |genre| %>
      <%= link_to genre.name, genre %>
    <% end %>
  </div>
</div>