<div class="d-inline-block">
  <%= link_to "Rename genre", edit_genre_path(@genre), class: 'btn btn-primary' %>
</div>
<div class="d-inline-block">
  <%= button_to "Remove genre", @genre, method: :delete, class: 'btn btn-danger' %>
</div>

<div class="row">
  <div class="col-md-2">
    <%= render @genre %>
  </div>
</div>