<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="Author CSV Modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Upload Author CSV file
        </h5>
        <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <div class="modal-body">
        <p>Use this feature to upload a CSV of authors that you wish to see in the app.</p>
        <p>This will not replace existing authors, only adding authors that do not already exist in the app.</p>
        <p>The CSV file must include the following data - all being capitalized strings:</p>
        <ul>
          <li>Forename</li>
          <li>Surname</li>
          <li>Gender</li>
          <li>Nationality</li>
        </ul>
        <p>To do this, make an Excel file containing the authors data, then convert the file to CSV before uploading.</p>
      </div>
    </div>
  </div>
</div>
