<h1>Editing book goal timeline</h1>

<%= render "form", book_goal_timeline: @book_goal_timeline %>

<br>

<div>
  <%= link_to "Show this book goal timeline", @book_goal_timeline %> |
  <%= link_to "Back to book goal timelines", book_goal_timelines_path %>
</div>
