<h1>Authors</h1>

<%= link_to "Create author", new_author_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-2">
    <div id="authors">
      <ul>
        <% @authors.each do |author| %>
          <li><%= link_to author.full_name, author %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>