<h1>Authors</h1>

<%= link_to "Create author", new_author_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-2">
    <div id="authors">
      <% @authors.each do |author| %>
        <%= link_to author.full_name, author %>
      <% end %>
    </div>
  </div>
</div>