<div class="d-inline-block">
  <%= link_to "Rename author", edit_author_path(@author), class: 'btn btn-primary' %>
</div>
<div class="d-inline-block">
  <%= button_to "Remove author", @genre, method: :delete, class: 'btn btn-danger' %>
</div>

<div class="row">
  <div class="col-md-2">
    <%= render @author %>
  </div>
</div>