<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="Genre modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= genre.persisted? ? 'Rename genre' : 'New genre' %>
        </h5>
        <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <div class="modal-body">
        <%= render "genres/form", genre: genre, book: @book %>
      </div>
    </div>
  </div>
</div>
