<div class="card text-center" id="footer">
  <div class="card-body">
    <h5 class="card-title"><%= DateTime.now.strftime('%Y') %> &copy; Reading List</h5>
    <p class="card-text">Created with <i class="fa-solid fa-heart"></i> by Alexandra Wolfe</p>
  </div>
</div>