<div class="row">
  <div class="col-md-12">
    <h3>Filter</h3>
    <% if controller_name == 'books' %>
      <div id="new-book">
        <%= link_to new_book_path, class: 'btn btn-primary' do %>
          <i class="fa-solid fa-plus"></i> Add Book
        <% end %>
      </div>
      <%= render partial: 'shared/search/books' %>
    <% elsif controller_name == 'authors' %>
      <%= render partial: 'shared/search/authors' %>
    <% elsif controller_name == 'genres' %>
      <%= render partial: 'shared/search/genres' %>
    <% end %>
  </div>
</div>
