<%= form_tag import_books_path, method: :post, multipart: true do %>
  <h3>Upload CSV</h3>
  <div class="form-field">
    <%= file_field_tag :file, accept: '.csv' %>
  </div>
  <div class="form-field">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
      <i class="fa-solid fa-upload"></i> Import books
    <% end %>
  </div>
<% end %>