<div class="row">
  <div class="col">
    <%= image_tag 'banner-dnf.png', class: 'banner' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if Book.in_state(:dnf).any? %>
      <ul>
        <% Book.in_state(:dnf).each do |book| %>
          <li><%= link_to book.title, edit_book_path %> by <%= link_to book.author.full_name %> (<%= book.current_state %>)</li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>