<h1>Edit book</h1>
<div id="app"
  data-component="BookForm"
  data-props="<%= {
    book: @book.as_json(
      include: {
        book_goals: {},
        genres: {},
        author: {},
        series: {},
        rental: {
          include: {
            loaner: { only: [:id, :name] }
          }
        }
      }
    ),
    authors: Author.all.as_json(only: [:id, :forename, :surname], methods: [:full_name]),
    genres: Genre.all.as_json(only: [:id, :name]),
    series: Series.all.as_json(only: [:id, :name]),
    loaners: Loaner.all.as_json(only: [:id, :name])
  }.to_json %>">
</div>
