<h1>Books</h1>

<%= link_to "Create book", new_book_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-2">
    <% if @books.any? %>
      <% @books.each do |book| %>
        <%= link_to book.title, book %>
      <% end %>
    <% else %>
      <p>You don't have any books on your shelf!</p>
      <p>Would you like to <%= link_to 'add one', new_book_path %>?</p>
    <% end %>
  </div>
</div>