<div id="app" data-component="BookShow" data-props="<%= @book.to_json(
    include: {
      author: { only: [:id, :forename, :surname], methods: [:full_name] },
      genres: { only: [:id, :name] }
    },
    methods: [:status]
  ) %>">
</div>
