<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="Series modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= series.persisted? ? 'Update series' : 'New series' %>
        </h5>
        <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <div class="modal-body">
        <%= render "series/form", series: series %>
      </div>
    </div>
  </div>
</div>
