/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

.fa-star {
  color: #F8D353
}

nav {
  h3 {
    color: #2d2828
  }
}

.book-generator {
  margin-top: 20%;

  i {
    font-size: 6rem;
    color: #8300ff;
    margin-bottom: 30px;
  }
}

.series-data {
  margin-left: 20px;
  margin-right: 20px;
}

.series-books {
  margin-left: 20px;
}

.monthly-books {
  margin-top: 20px;
}

.footer {
  flex-shrink: 0;
}

.left-sidebar {
  color: #82888d;

  .btn {
    color: #fff;
  }

  a {
    color: #82888d;
  }

  #authors {
    h3 {
      margin-top: 30px;
    }
  }

  .search-button {
    margin-right: 10px;
  }

  .search-and-reset {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}

#right-sidebar {
  h5 {
    margin-top: 20px;
  }

  .small-text {
    margin: 0;

    .add-book {
      margin-bottom: 20px;
    }
  }
 }

 .card-text {
  margin-bottom: 0;
 }

 .float-end {
  padding-left: 5px;
 }

 #new-book {
  margin: 10px 0 15px 0;
 }

 #authors, #genres {
  .text {
    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      font-weight: bold;;
    }
  }
 }

.small-text {
  font-size: smaller;
  margin: 10px 0 20px 0;
  display: block;
  color: grey;
}

.rental-text {
  font-size: smaller;
  color: red;
}

.currently-reading {
  font-size: smaller;
}

.currently-reading-banner {
  line-height: normal;
}

a.no-decoration {
  text-decoration: none;
  color: #000;
}

.no-decoration a:hover {
  font-weight: 600;
  color: #245391;
}

.row {
  margin-top: 10px;
}

form {
  input[type=submit] {
    margin-top: 25px;
  }
  
  .search-button {
    margin-bottom: 25px;
  }

  .form-field {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.modal {
  .modal-content {
    .modal-body {
      form {
        input, select {
          margin: 10px 0 20px 0;

          .form-control {
            margin-bottom: 34px;
          }
        }
      }
    }
    .modal-footer {
      border-top: 0;
      padding-top: 0;
      justify-content: space-evenly;

      input[type=submit] {
        margin-top: 0;
      }
    }
  }
}

.book-series {
  margin-top: 40px;
  margin-bottom: 40px;
}

#book_status {
  width: 100px;
}

.stale-book {
  color: rgb(190, 75, 75);
  padding: 5px;
  font-size: 0.8rem;
}

.fresh-book {
  color: rgb(141, 191, 141);
  font-size: 0.8rem;
}

.banner {
  width: 100%;
}

#footer {
  margin-top: 50px;
}

.pull-right {
  display: flex;
  justify-content: flex-end;

  .small-text {
    padding-right: 10px;
  }
}

#edit-book {
  .ss-main {
    width: 300px;
  }
  .form-field {
    margin-top: 20px;
    margin-bottom: 20px;

    .form-control, .form-select {
      border: var(--bs-border-width) solid #dee2e6;
      border-radius: var(--bs-border-radius)
    }
  }
}

#yearly-goals-header {
  margin-bottom: 50px;
}

#yearly-goals-footer {
  margin-top: 30px;
  text-align: center;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox .form-check-input {
  margin-right: 8px; /* Space between checkbox and label */
}

.rating-container {
  display: flex;
  align-items: center;

  i {
    margin-left: 5px;
  }
}
